@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #ffffff;
    width: 100%;
    height: auto;
    background-image: url("./assets/bg_jodelajo_portrait_xsmall.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

nav {
    background-color: rgba(31, 28, 28, 0.9);
    font-family: montserrat, sans-serif;
    font-weight: 200;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav h1 {
    font-family: "Courier New";
    font-weight: 200;
    color: rgba(247, 45, 129, 1);
    font-size: 2.8em;
    margin-left: 30px;
}
.jodelajo {
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

nav label {
    display: block;
    font-size: 2.4em;
    align-self: flex-end;
}

#hamburger, #menu {
    display: none;
}

#menu {
    align-self: flex-end;
    align-content: space-between;
}

.menuClass {
    display: block;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: end;
}

#menu a {
    color: #ffffff;
}

nav input:checked ~ #menu {
    display: block;

}
h2 {
    font-family: "montserrat", 'sans-serif';
    font-weight: lighter;
    font-size: 1em;
}
main {
    padding: 12% 6% 3% 6%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                "block_logo"
                "block_portfolio"
                "block_image";
    grid-gap: 40px;
}

#main-hero {
    padding: 22% 6% 3% 6%;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    grid-template-areas:
                "block_portfolio block_logo block_logo"
                "block_image block_image block_image";
    grid-gap: 20px;
}

.logoPortfolio {
    display: block;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;

}

#hero-image {
    max-width: 90%;
    height: auto;
}

#block_logo_hero {
    border: 2px solid #ffffff;
    background-color: rgba(31, 28, 28, 0.81);
    grid-area: block_logo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    row-gap: 10px;
}
#externe-link {
    background-color: #000000;
    width: 90%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#externe-link a {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: rgba(247, 45, 129, 1);
}

#block_logo {
    display: none;
}


#block_black, #block_portfolio, #block_portfolio_hero {
    font-family: montserrat, sans-serif;
    font-variant: small-caps;
    /*font-size: 1.6em;*/
    background-color: #000;
    grid-area: block_black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
    align-content: flex-end;
    flex-direction: column;
}

#block_black {
    display: none;
}

#block_portfolio, #block_portfolio_hero {
    background-color: rgba(247, 45, 129, 0.75);
    grid-area: block_portfolio;
}

#block_portfolio_hero {
    padding-left: 20px;
    padding-right: 20px;
}

#block_image {
    background-color: rgba(255, 255, 255, 0.81);
    grid-area: block_image;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

#block_image_hero {
    background-color: rgba(255, 255, 255, 0.53);
    grid-area: block_image;
    padding: 6%;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: rgba(31, 28, 28, 0.9);
    line-height: 1.6em;
}

#block_image_hero li {
    margin-top: 5px;
    margin-left: 30px;
}

.content {
    display: none;
    width: 100%;
}

.show {
    display: block;
}

#port_container {
    column-count: 1;
    overflow: hidden;
}

.mySlides_port{
    width: 100%;
    height: auto;
}

footer {
    font-family: montserrat, sans-serif;
    font-weight: 200;
    background-color: #540225;
    padding: 20px 5%;
    text-align: end;
    color: rgba(247, 45, 129, 0.55);
    position: fixed;
    bottom: 0;
    width: 90%;
    font-size: 9px;
}

/*slideshow*/
.mySlides {
    display: none;
    max-width: 90%;
    max-height: 90%;
}

#myBtnContainer {
    /*margin-bottom: 20px;*/
    background-color: rgba(255, 255, 255, 0.65);
    border: 4px solid #000000;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    border: 2px solid #000000;
    margin: 0;
    padding:3px 5px;
    background-color: #000000;
    color: #ffffff;
}

.btn a {
    font-family: montserrat, sans-serif;
    color: #ffffff;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #ffffff;
    color: #000000;
}

@media screen and (min-width: 480px) {
    h2 {
        font-size: 1.4em;
    }
}


@media screen and (min-width: 576px) {
    body {
        background-image: url("./assets/bg_jodelajo_portrait.png");
    }

    h2 {
        font-size: 1.8em;
    }

    #port_container {
        column-count: 2;
        margin: 20px;
        padding: 0;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: url("./assets/bg_21.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }
    .bg_landing {
        background-image: url("./assets/bg_21_button.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;


    }

    #landing-page {
        padding-top: 20%;
        padding-left: 30%;
        padding-right: 20%;
        padding-bottom: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
    }

    .typewriter  {
        color: #000000;
        font-family: "Courier New";
        font-size: 2.4em;
        font-weight: 200;
        position: fixed;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation:
                typing 3.5s steps(25, end),
                blink-caret .75s step-end infinite;
    }


    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }
    #button {
        margin-top: 50px;
        margin-left: 700px;
        width: 300px;
        height: 200px;
        background-color: transparent;

    }
    #button a {
        color: #ffffff;
        font-size: 50px;
    }

    nav label, #hamburger {
        display: none;
    }

    #menu {
        /*padding: 10px;*/
        display: flex;
        justify-content: flex-end;
    }


    #menu a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding-left: 40px;
        /*border-top: 1px solid #333;*/
        text-align: end;
        /*padding-right: 30px;*/
        line-height: 2.8em;
        color: #ffffff;
        text-decoration: none;
    }

    #menu a:hover {
        color: #540225;
    }
    #menu a:active {
        color: rgba(247, 45, 129, 0.55);
    }

    main {
        padding: 6% 6% 6% 30%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
                "block_logo block_logo block_logo block_logo block_logo block_black block_black block_black"
                "block_portfolio block_portfolio block_image block_image block_image block_image block_image block_image";
        grid-gap: 40px;
    }

    #main-hero {
        padding: 6% 6% 6% 30%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
                "block_logo block_logo block_logo block_logo block_logo block_logo block_black block_black"
                "block_portfolio block_portfolio block_image block_image block_image block_image block_image block_image";
        grid-gap: 40px;
    }


    #myBtnContainer {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        flex-wrap: nowrap;
        padding: 20px;
        margin-bottom: 20px;
        gap: 20px;
    }


    #block_logo {
        border: 2px solid #ffffff;
        background-color: rgba(31, 28, 28, 0.81);
        grid-area: block_logo;
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin-top: 40px;*/
    }

    #block_black {
        display: flex;
    }

    #port_container {
        column-count: 3;
    }
}
@media screen and (min-width: 1800px) {

    /*.typewriter h1 {*/
    /*    margin-top: 700px;*/
    /*}*/
}
