@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #ffffff;
    width: 100%;
    height: auto;
    background-image: url("./assets/bg_jodelajo_portrait_xsmall.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

nav {
    background-color: rgba(31, 28, 28, 0.9);
    font-family: montserrat, sans-serif;
    font-weight: 200;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav h1 {
    font-family: "Courier New";
    font-weight: 200;
    color: rgba(247, 45, 129, 1);
    font-size: 2.8em;
    margin-left: 30px;
}

#navbar {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

nav label {
    display: inline-block;
    font-size: 2.4em;
    align-self: flex-end;
}

#menu, #hamburger {
    display: none;
}


nav input:checked ~ #menu {
    display: block;
}
h2 {
    font-family: "Courier New";
    font-weight: lighter;
}
main {
    padding: 12% 6% 3% 6%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                "block_logo"
                "block_portfolio"
                "block_image";
    grid-gap: 40px;
}

.logoPortfolio {
   display: none;
}

#block_logo {
    display: none;
}

#block_black, #block_portfolio {
    font-family: montserrat, sans-serif;
    font-variant: small-caps;
    font-size: 1.8em;
    background-color: #000;
    grid-area: block_black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
    align-content: flex-end;
    flex-direction: column;
}

#block_black {
    display: none;
}

#block_portfolio {
    background-color: rgba(247, 45, 129, 0.75);
    grid-area: block_portfolio;
}

#block_image {
    background-color: rgba(255, 255, 255, 0.53);
    grid-area: block_image;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
}

#myBtnContainer {
    width: 86%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.content {
    display: none;
    margin: 0 0 1em;
    width: 100%;
}

.show {
    display: block;
}

#port_container {
    column-count: 1;
    /*gap: 1em;*/
    /*padding: 20px;*/
    overflow: hidden;
}

.mySlides_port{
    width: 100%;
    height: auto;
}

footer {
    font-family: montserrat, sans-serif;
    font-weight: 200;
    background-color: #540225;
    padding: 20px;
    text-align: center;
    color: rgba(247, 45, 129, 0.55);
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*slideshow*/
.mySlides {
    display: none;
    max-width: 80%;
    max-height: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style the buttons */
.btn {
    font-family: montserrat, sans-serif;
    border: 2px solid #000000;
    border-radius: 8px;
    color: #ffffff;
    font-size: 0.4em;
    outline: none;
    margin: 0 6px;
    padding: 8px 12px;
    background-color: #000000;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #ffffff;
    color: #540225;
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    body {
        background-image: url("./assets/bg_jodelajo_portrait.png");
    }
    #port_container {
        column-count: 2;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("./assets/bg_jodelajo_panorama.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }

    nav label, #hamburger {
        display: none;
    }

    #menu {
        /*padding: 10px;*/
        display: flex;
        justify-content: flex-end;
    }


    #menu a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding-left: 40px;
        /*border-top: 1px solid #333;*/
        text-align: end;
        /*padding-right: 30px;*/
        line-height: 2.8em;
        color: #ffffff;
        text-decoration: none;
    }

    #menu a:hover {
        color: #540225;
    }
    #menu a:active {
        color: rgba(247, 45, 129, 0.55);
    }

    main {
        padding: 10% 6% 3% 35%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
                "block_logo block_logo block_logo block_logo block_logo block_black block_black block_black"
                "block_portfolio block_portfolio block_portfolio block_image block_image block_image block_image block_image";
        grid-gap: 40px;
    }

    .logoPortfolio {
        display: block;
        height: 80px;
        width: 80px;
        background-color: #ffffff;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    #block_logo {
        border: 2px solid #ffffff;
        background-color: rgba(31, 28, 28, 0.81);
        grid-area: block_logo;
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin-top: 40px;*/
    }

    #block_black {
        display: flex;
    }

    .mySlides {
        margin: 100px;
    }

    #port_container {
        column-count: 3;
    }

    /*.btn {*/
    /*    font-size: 1.0em;*/
    /*}*/
}